.foo-container .foo-wrapper {
  max-width: unset;
  padding: 0;
}

.foo {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.foo h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}


@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}